@import './grid-container';
@import './display';
#classroom_home {
    &.classroom-container {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .grid-container {
        display: grid;
        grid-gap: 10px;
        margin: 0;
        grid-template-areas: "profile information information""list list list";
        grid-template-columns: 300px 1fr 1fr;
        grid-template-rows: 350px 1fr;
    }
    .profile {
        grid-area: profile;
        background-color: #ffffff !important;
    }
    .information {
        grid-area: information;
    }
    .list {
        grid-area: list;
    }
    /* PROFILE */
    .profile {
        width: 300px;
        min-height: 350px;
        padding: 10px;
        .avatar {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 100%;
            align-self: center;
            border: 4px solid rgb(255, 255, 255);
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
        }
        p {
            padding: 0;
            margin: 0;
        }
    }
    .grid-container {
        #profile_content {
            &.d-flex {
                display: flex;
                flex-direction: column;
                height: 100%;
                h4 {
                    margin-bottom: 15px;
                }
                .img-profile {
                    flex: 1;
                    align-self: center;
                }
                .user-info {
                    p {
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        &:nth-of-type(1) {
                            color: #03462c;
                            &::before {
                                content: "ชื่อ/สกุล:";
                                margin-right: 5px;
                                color: #919191;
                                font-size: 14px;
                            }
                        }
                        &:nth-of-type(2) {
                            color: #03462c;
                            &::before {
                                content: "ชื่อผู้ใช้งาน:";
                                margin-right: 5px;
                                color: #919191;
                                font-size: 14px;
                            }
                        }
                        &:nth-of-type(3) {
                            color: #03462c;
                            &::before {
                                content: "รหัสนักศึกษา:";
                                margin-right: 5px;
                                color: #919191;
                                font-size: 14px;
                            }
                        }
                    }
                    margin-bottom: 5px;
                }
            }
        }
    }
}
