#classroom-content {
    position: relative;

    // 
     // Grid Container
    .grid-container {
        display: grid;
        grid-gap: 10px;
        margin: 0 auto;
        grid-template-areas: "profile profile profile" "information information information" "list list list";
        grid-template-columns: auto auto auto;
        grid-template-rows: 1fr 1fr 1fr;
        @import "./partials/grid-container";
    }
    .profile {
        grid-area: profile;
        width: 100%;
        max-width: 250px;
        margin: 0 auto;
        padding: 15px;
        background-color: #fff !important;
        border-radius: 4px;
        @import "./partials/profiles";
    }
    .information {
        grid-area: information;
        @import "./partials/information";
    }
    .list {
        grid-area: list;
        @import "./partials/lists";
    }
}

// Edit Profile
#edit-profile{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;

    .grid-container{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 100%;
        grid-template-rows: auto;


        .form-group{
            &.d-grid{
                display: grid;
                grid-gap: 10px;
                grid-template-columns: repeat(2, 130px);
            }
        }

        .grid-item{
            &.edit{
                padding: 15px;

                @include breakpoint(480px, max)
                {
                    @include bg-rgba(#FFF, 1);
                    width: 100%;
                    max-width: 450px;
                    form{
                        min-width: 100%;
                        .form-group{
                            &.d-grid{
                                display: grid;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }


    @import './partials/edit-profile';
}
