#classroom_home {
    .grid-container {
        display: grid;
        grid-gap: 10px;
        margin: 0;
        grid-template-areas: "profile information information" "list list list";
        grid-template-columns: 300px 1fr 1fr;
        grid-template-rows: 350px 100%;
    }
    .profile {
        grid-area: profile;
    }
    .information {
        grid-area: information;
    }
    .list {
        grid-area: list;
    }
    /* PROFILE */
    .profile {
        width: 300px;
        min-height: 350px;
        padding: 10px;
        .avatar {
            width: 180px;
            height: auto;
            object-fit: cover;
            border-radius: 100%;
            align-self: center;
        }
        p {
            padding: 0;
            margin: 0;
        }
    }
    .grid-container {
        #profile_content {
            &.d-flex {
                display: flex;
                flex-direction: column;
                height: 100%;
                h4 {
                    margin-bottom: 15px;
                }
                .img-profile {
                    flex: 1;
                    align-self: center;
                }
                .user-info {
                    p {
                        &:nth-of-type(1) {
                            &::before {
                                content: "ชื่อ/นามสกุล:";
                                margin-right: 5px;
                            }
                        }
                        &:nth-of-type(2) {
                            &::before {
                                content: "ชื่อผู้ใช้งาน:";
                                margin-right: 5px;
                            }
                        }
                        &:nth-of-type(3) {
                            &::before {
                                content: "รหัสนักศึกษา:r";
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}