@import '../mixins';


.main-container{
    display: flex;
    flex-direction: column;

    transition: all .4s ease;
    nav{
        transition: all .4s ease;
    }
    &.isOpen{
        margin-left: 275px;
        transform: translate3d(0, 0, 0);

        @media (max-width: 780px){
            margin-left: 0;
            transform: translate3d(275px, 0, 0) !important;
        }
        nav{
            margin-left: 0;
            transition: all .4s ease;
            transform: translate3d(0 0, 0);
            @media (max-width: 780px){
                transform: translate3d(0, 0, 0) !important;
            }
        }
        position: fixed;
        left: 0;
        right: 0;

    }
    .content{
        flex: 1;
        display: flex;
        min-height: 100vh;
    }

}